.b{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   padding-top: 70px;
   padding-bottom: 25%;
} 
.h{
    color: white;
    font-size: 60px;
}
.p{
    color: white;font-size: 20px;
}
.bu{
    font-size: 20px;
}
